<!DOCTYPE html>
<html> 
    <%- include("./partials/head.ejs")  %>
    <link rel="stylesheet" href="/public/NewTaskForm.css">
    <link rel="stylesheet" href="/public/display_tasks.css">
    <script src="../scripts/new_task_validation.js"></script>
    <body>
        <%- include("./partials/nav.ejs")  %>

        <% if (tasks.length > 0) { %>
            <div id="task-container">
                <% for (let i = 0; i < tasks.length; i++) { %>
                    <div class="task-item" id="task<%= i %>">
                        <a class="task_details" href="/lists/<%= tasks[i]._id %>">
                            <h2 id="display-task"><%= tasks[i].task %></h2>
                            <% if (tasks[i].description) { %>
                                <p class="description"><%= tasks[i].description %></p>
                            <% } %>
                        </a>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <p>There are no tasks to display</p>
        <% } %>


        <form id="New-Task-Form" action="/lists" method="post" onsubmit="return validate_new_task_form()">
            <label for="task">Enter New Task: </label>
            <input type="text" id="task" name="task" required>
            <br><br>
        
            <textarea id="description" name="description" placeholder="Enter Task Description"></textarea>
            <br><br>
        
            <label for="priority">Priority: </label>
            <input type="number" id="priority" name="priority" value="3" min="1" max="5">
            <br><br>
        
            <label for="due-date">Due Date: </label>
            <input type="date" id="due-date" name="due-date">
            <br><br>
        
            <input type="submit" value="Add Task">
        </form>

    </body>


</html>